.contact-page{
    padding: 80px;
    margin: 10px;
    background-color: cadetblue;
    /* height: 80vh; */
    
}
h1{
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{
    padding: 12px;
    margin: 5px;
    width: 20rem;
    font-size: 15px;
}
textarea{
    padding: 12px;
    width: 20rem;
    font-size: 15px;
}
button{
    padding: 5px;
    margin: 20px;
    font-size: 15px;
}