@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.hero {
    min-height: 100vh;
    padding: 100px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    color: white;
}

/* LEFT */
.hero-content {
    max-width: 600px;
    animation: slideLeft 1.2s ease forwards;
}

.hero h1 {
    font-size: 40px;
}

.hero .name {
    color: #00e5ff;
}

.hero h3 {
    margin: 15px 0;
    font-size: 20px;
    font-weight: 500;

}

.hero p {
    line-height: 1.6;
    margin-bottom: 30px;
    font-size: 14px;
}

/* BUTTONS */
.buttons .btn {
    padding: 12px 32px;
    background: #00e5ff;
    color: #0f2027;
    text-decoration: none;
    border-radius: 8px;
    margin-right: 15px;
    transition: 0.3s;
}

.buttons .outline {
    background: transparent;
    border: 2px solid white;
    color: white;
}

.buttons .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}

/* RIGHT IMAGE */
.hero-img {
    animation: slideRight 1.2s ease forwards;
}

.hero-img img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid rgba(255,255,255,0.4);
    box-shadow: 0 0 40px rgba(0,229,255,0.6);
    animation: float 4s ease-in-out infinite;
}

/* ANIMATIONS */
@keyframes slideLeft {
    from { opacity: 0; transform: translateX(-60px); }
    to { opacity: 1; transform: translateX(0); }
}

@keyframes slideRight {
    from { opacity: 0; transform: translateX(60px); }
    to { opacity: 1; transform: translateX(0); }
}

@keyframes float {
    0%,100% { transform: translateY(0); }
    50% { transform: translateY(-15px); }
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .hero {
        flex-direction: column-reverse;
        text-align: center;
        padding: 80px 20px;
    }

    .hero h1 {
        font-size: 30px;
    }

    .hero-img img {
        width: 220px;
        height: 220px;
        margin-bottom: 30px;
    }
}
