{% extends "Portfolio/base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static "Portfolio/css/about.css" %}">
{% endblock %}
{% block content %}
<div class="about-page">
    
    <div class="about-hero">
        <h1>About Me</h1>
        <p class="intro">I'm <span>Muhammad Ahmad</span>, Web Developer.</p>
        <p class="bio">
            I passionate Web Developer specializing in modern, responsive websites. I love turning ideas into interactive and user-friendly web experiences. With a focus on Python, Django, and frontend technologies, I aim to build projects that are both functional and visually appealing.
        </p>
    </div>
    <div class="skills">
        <h2>Skills</h2>
        <div class="list">
            <p>HTML</p>
            <p>CSS</p>
            <p>Python </p>
            <p>Django</p>
        </div>
    </div>
    <div class="experience">
        <div><h2>Experience</h2></div>
        <div class="box">
            <div class="list">
                <h3>Web Developer</h3>
                <span class="duration">Jan 2024 - Jul - 2024</span>
                <p>Created multiple projects including a portfolio website, a blog platform, and a Django-based web app to practice full-stack development.</p>
            </div>
        </div>
    </div>
    
</div>
{% endblock content %}