{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio | Muhammad Ahmad</title>
    <link rel="stylesheet" href="{% static "Portfolio/css/base.css" %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <div class="container">
        <div class="logo">
           <h1><a href="{% url "home" %}">Portfolio</a></h1>
        </div>
        <nav>
            <ul>
                <li><a href="{% url "home" %}">Home</a></li>
                <li><a href="{% url "about" %}">About</a></li>
                <li><a href="{% url "projects" %}">Projects</a></li>
                <li><a href="{% url "contact" %}">Contact Me</a></li>
            </ul>
        </nav>
    </div>
    {% block content %}
    {% endblock content %}
    
    <footer>
        <p>@ Portfolio | Muhammad Ahmad</p>
    </footer>
</body>
</html>