{% extends "Portfolio/base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static "Portfolio/css/projects.css" %}">
{% endblock %}
{% block content %}
<div class="project_page">
    <h1 style="text-align:center;">Projects</h1>

    <div class="projects">
        {% for project in projects %}
        <div class="column">

            <div class="proj_box">
                <h2 class="name">{{ project.title }}</h2>

                <span>Overview</span>
                <p class="overview">{{ project.overview }}</p>

                <div class="links" style="text-align: center; text-decoration: underline;">
                    {% if project.github_link %}
                        <a class="a" href="{{ project.github_link }}" target="_blank">GitHub</a>
                    {% endif %}
                    {% if project.live_link %}
                        <a class="a" href="{{ project.live_link }}" target="_blank">Live</a>
                    {% endif %}
                </div>
            </div>

            <div class="img">
                {% if project.image %}
                    <img src="{{ project.image.url }}" alt="{{ project.title }}">
                {% else %}
                    <img src="{% static 'Portfolio/image/default.png' %}" alt="No Image">
                {% endif %}
            </div>

        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}